[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bs4 = "*"
pdfreader = "*"
tabula-py = "*"
pandas = "*"
xlrd = "==1.2.0"
pyexcel-xlsx = "*"
clarify = {editable = true, git = "https://github.com/openelections/clarify.git"}

[requires]
python_version = "3.8"
